* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(33, 33, 33);
}

li, a, button{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: black;
}

.logo {
    cursor: pointer;
    height: 80px
    
}

.nav-links {
    list-style: none;
    background-color: black;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a:hover{
    color: rgb(93, 0, 0);
}

button {
    padding: 9px 25px;
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgb(0, 0, 0);
}